@import "tailwindcss";

@theme {
  --color-mint: #5FFFC1;
  --color-dark: #1a1a1a;

  --font-sans: Inter, system-ui, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}